.card-count{
    display: flex;
    justify-content: space-between;
}
.dashboard-card{
    display: flex;
    height: 178px;
    align-items: center;
    gap: 64px;
    flex: 1 0 0;
    border-radius: 6px;
    background: var(--light-background-paper, #FFF);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
    margin: 2% 0 2% 2%;;
}

.dashboard-card .ant-card-body{
    width: 100% !important;
}

.dashboard-card .title{
    color: var(--heading);
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 120% */
    letter-spacing: 0.15px;
}
.dashboard-card .count{
    color: var(--light-text-primary);
    font-family: Lato;
    font-size: 51px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 62.745% */
}
.dashboard-card svg{
    float: right;
    margin-top: 10%;
    width: 80px;
    height: 80px;
}

.calendar-schedule-title{
    display: flex;
    justify-content: space-between;
}
.calendar-schedule-title span{
    margin-top: 2%;
    font-size: 25px;
}
.meeting-importance{
    height: 20px;
    padding: 0px 6.5px;
    justify-content: center;
    align-items: center !important;
    border-radius: 64px;
    background: var(--light-custom-background-success-background, linear-gradient(0deg, rgba(255, 255, 255, 0.88) 0%, rgba(255, 255, 255, 0.88) 100%), #4CAF50);
}
.calender-table-importance{
    text-align: center !important;
}

.calendar-schedule .title{
    color: #3A3541;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 133.333% */
    letter-spacing: 0.15px;
}
.meeting-table {
    border-spacing:0;
    border-collapse: collapse;
  }
  

.meeting-table thead tr th {
    border-collapse: collapse;
    border-bottom: 3px solid #B0A6A6 !important;
}
.meeting-table tbody tr {
    line-height: 10%;
}

.meeting-table tbody tr td {
    text-align: left;
    border-bottom: 3px dashed #B0A6A6;
}

@media only screen and (max-width: 800px) {
    .page-title-heading {
        font-size: 18px;
    }
    .dashboard-card .count{
        font-size: 40px;
    }
    .dashboard-card svg{
        margin-top: 1%;
    }
}
.table-title-row{
    display: flex;
    justify-content: left;
}
.table-calender-title{
    padding: 0 0 0 8px !important;
    margin: 0;
   
}
.table-calender-title h4{
    padding: 0 !important;
    margin: 3px 0 3px 0 !important;
    color: #3A3541;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.table-calender-title p{
    padding: 0 !important;
    margin: 3px 0 5px 0 !important;
    color: var(--light-text-secondary, rgba(58, 53, 65, 0.60));

}

.calender-table-image img{
    width: 38px;
    height: 38px;
    border-radius: 4px;
}
.calender-table-description{
    text-align: center !important;
}

@media only screen and (max-width: 1000px) {
    .dashboard-card svg{
        margin-top: 1%;
    }
}