.top-button{
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
}
.create-button{
    display: flex;
    width: 120px;
    padding: 12px 0px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    height: 41px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 8px;
    background: var(--primary);
}

.create-button:hover{
    background: var(--primary) !important;
}

.top-button .search{
    width: 210px !important;
    height: 41px;
    padding: 0;
}
.search:hover {
    border-color:var(--primary) !important;
}

.search .ant-input-prefix{
    font-size: 18px;
    width: 24px;
    height: 24px;
    text-align: center;
    display: flex;
    margin: auto;
    margin-left: 5%;
}
.detail-card{
    border-radius: 20px;
    background: var(--card-cl, #E8F6FF);
    margin: 2% 0 2% 2%;
}

.card-content-detail h3,p{
    margin: 0;
    padding: 0;
}
.card-person-name{
    justify-content: space-between;
      display: flex;
  }

.card-person-name .name{
    margin-top: 1%;
    color: #0D5795;
    /* subheading */
    font-family: Lato;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .card-person-name .status{
    color: var(--light-success-main, #56CA00);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.14px;
  }
  .card-content-detail .email{
    margin-top: 3% !important; 
  }
  .card-content-detail .card-detail h3{
    margin-top: 3% !important; 
  }

  .card-logo span{
    width: 100%;
  }
  .card-logo{
    display: flex;
    align-items: center;
    margin-top: 3%;
    background-color: var(--primary);
    border-radius: 50%;
    height: 100px;
    width: 100px;
    color: white;
    font-size: 50px;
    text-align: center;
    align-items: center !important;
  }