:root {
  --primary: #00A7EA;
  --white: #ffffff;
  --black: #000000;
  --heading:#8E8E8E;
  --light-text-primary:rgba(58, 53, 65, 0.87),
}
body {
  font-family: 'Lato';
}

.side-bar{
  margin-left: -10px;
  margin-top: -10px;
  height: "100vh";
  left: 0;
  top: 0;
  bottom: 0;
  background-color: var(--primary) !important;
}
.side-bar ul {
  background-color: var(--primary) !important;
}
.side-bar ul > .ant-menu-item-selected { 
  background-color: var(--white) !important;
  border-radius: 20px !important;
}

.side-bar  li > .ant-menu-item-icon { 
  font-size: 15px !important;
  columns: var(--white) !important;
}

.side-bar ul  li:hover:not(.ant-menu-item-selected) { 
  background-color: var(--primary) !important;
}

.ant-menu-item-selected .ant-menu-item-icon{
  color: black !important;
}

.ant-menu-item .ant-menu-item-icon{
  color: white;
  font-size: 20px;
}


.side-bar ul  li { 
  width: 243px;
  padding: 10px 12px;
  justify-content: center;
  align-items: center;
  margin-bottom: 8% !important;
}
.side-bar ul > li > .ant-menu-title-content { 
  color: var(--white) !important;
  font-family: Lato;
  line-height: normal;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}

.side-bar ul > .ant-menu-item-selected .ant-menu-title-content { 
  color: var(--black) !important;
}
.top-header{
  border-bottom: 1px solid rgba(149, 149, 149, 0.37);
  background: #FFF;
}

.top-logo{
  margin-top: 10%;
  margin-left: 5%;
  margin-bottom: 20%;
}

.page-title-heading{
  color: #3A3541;
  font-family: Lato;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 85.714% */
  letter-spacing: 0.15px;
}

input{
  display: flex;
  width: 205px;
  padding: 16px 0px 15px 10px;
  align-items: center;
  gap: 20px;
  border-radius: 8px;
  border: 1px solid #C2C2C2;
}


.card-detail{
  justify-content: space-between;
  display: flex;
}


.card-detail{
  justify-content: space-between;
  display: flex;
}

.card-detail .mobile{
    color: #303030;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
 }
.card-detail .detail{
  color: #086FAB;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  text-decoration-line: underline;
 }

